Repository Ajith-82/LightRAG: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-secrets, validate-pyproject

Path conditions:
  check-secrets: any file but: ^(\.pre-commit-config\.yaml|tests/.*|examples/.*|docs/.*)$
  validate-pyproject: any of: pyproject\.toml$

refactor: Clean and organize repository structure
  CLAUDE.md
  PROJECT_STRUCTURE.md
  docs/ci-cd/code-quality-report.md
  docs/production/PRODUCTION_IMPLEMENTATION_GUIDELINES.md
  test_rag_storage/kv_store_doc_status.json
Due: check-secrets

fix: Resolve CI check failures and security issues
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/linting.yaml
  .github/workflows/performance-tests.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  lightrag/api/logging/audit_logger.py
  lightrag/api/routers/document_routes.py
  lightrag/base.py
  lightrag/kg/json_kv_impl.py
  lightrag/kg/memgraph_impl.py
  lightrag/kg/mongo_impl.py
  lightrag/kg/nano_vector_db_impl.py
  lightrag/kg/neo4j_impl.py
  lightrag/kg/networkx_impl.py
  lightrag/kg/postgres_impl.py
  lightrag/kg/shared_storage.py
  lightrag_mcp/examples/usage_example.py
  tests/conftest.py
  tests/production/__init__.py
Due: check-secrets

fix: Update pre-commit configuration to resolve CI issues
  .pre-commit-config.yaml
Due: none

fix: Apply pre-commit formatting fixes
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/performance-tests.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  .gitlab-ci.yml
  Makefile
  lightrag/api/webui/assets/architectureDiagram-IEHRJDOE-By1r-_vc.js
  lightrag/api/webui/assets/cytoscape.esm-CfBqOv7Q.js
  lightrag/api/webui/assets/feature-graph-ChwGSzXI.js
  lightrag/api/webui/assets/gitGraphDiagram-7IBYFJ6S-D24Y9tf4.js
  lightrag/api/webui/assets/radar-MK3ICKWK-CxtTBuu1.js
  lightrag/api/webui/assets/requirementDiagram-KVF5MWMF-DhduwYYL.js
  lightrag/api/webui/assets/ui-vendor-CeCm8EER.js
  pyproject.toml
  scripts/ci/check-coverage.sh
  scripts/ci/integration-tests.sh
  scripts/ci/lint-and-format.sh
  scripts/ci/security-audit.sh
  scripts/deploy/deploy-docker.sh
  scripts/deploy/deploy-k8s.sh
  scripts/deploy/health-check.sh
  scripts/deploy/rollback.sh
  tox.ini
Due: check-secrets, validate-pyproject

fix: Fix type annotations in security_headers.py
  lightrag/api/middleware/security_headers.py
Due: check-secrets

fix: Resolve multiple linting and formatting issues
  lightrag/api/routers/document_routes.py
  lightrag/api/webui/logo.svg
  lightrag_webui/tsconfig.json
  pyproject.toml
  tests/test_lightrag_ollama_chat.py
Due: check-secrets, validate-pyproject

fix: Apply formatting fixes to prevent CI failures
  examples/docling_service_demo.py
  examples/insert_custom_kg.py
  examples/raganything_example.py
  examples/rerank_example.py
  lightrag-docling/config/docling_config.py
  lightrag-docling/src/docling_service.py
  lightrag-docling/src/models.py
  lightrag-docling/src/processors.py
  lightrag_webui/public/logo.svg
  run_tests.py
Due: check-secrets

fix: Fix test file naming convention and update imports
  tests/config.py
  tests/ollama_test_helpers.py
  tests/test_lightrag_ollama_chat.py
Due: none

fix: Resolve critical MyPy type annotation errors
  lightrag/api/auth/password_manager.py
  lightrag/api/logging/audit_logger.py
Due: check-secrets

fix: Convert implicit Optional types to explicit typing in API layer
  lightrag/api/auth/handler.py
  lightrag/api/health.py
  lightrag/api/lightrag_server.py
  lightrag/api/logging/audit_logger.py
  lightrag/api/middleware/security_headers.py
  lightrag/api/routers/document_routes.py
  lightrag/api/routers/document_routes_patch.py
  lightrag/api/routers/enhanced_pipeline.py
Due: check-secrets

fix: Resolve YAML syntax errors blocking CI validation
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: check-secrets

fix: Resolve critical HIGH severity security vulnerabilities
  lightrag/api/middleware/rate_limiter.py
  lightrag/api/routers/document_routes.py
  lightrag/utils.py
Due: check-secrets

fix: Resolve additional YAML syntax error in .gitlab-ci.yml
  .gitlab-ci.yml
Due: check-secrets

fix: Resolve remaining YAML syntax and formatting consistency issues
  .gitlab-ci.yml
  lightrag/api/routers/document_routes.py
Due: check-secrets

fix: Resolve final YAML parsing and import errors
  .gitlab-ci.yml
  lightrag/api/auth/handler.py
Due: check-secrets

fix: Exclude .gitlab-ci.yml from YAML validation
  .pre-commit-config.yaml
Due: none

fix: Add missing Optional import in lightrag_server.py
  lightrag/api/lightrag_server.py
Due: check-secrets

fix: Add missing Optional import in document_routes_patch.py
  lightrag/api/routers/document_routes_patch.py
Due: check-secrets

feat: Add comprehensive test coverage for core modules
  .github/workflows/security-scan.yml
Due: check-secrets

feat: Remove all deprecated functions marked for cleanup
  lightrag/lightrag.py
  lightrag/operate.py
  lightrag/prompt.py
Due: check-secrets

feat: Implement comprehensive circuit breaker pattern for error recovery
  .gitignore
  lightrag/circuit_breaker.py
  lightrag/resilience.py
  tests/core/test_document_processing.py
  tests/core/test_knowledge_graph.py
  tests/core/test_llm_providers.py
  tests/core/test_mcp_server.py
  tests/core/test_rag_queries.py
  tests/core/test_vector_operations.py
  tests/integration/test_api_endpoints.py
  tests/production/test_containers.py
  tests/production/test_deployment.py
  tests/production/test_disaster_recovery.py
  tests/production/test_monitoring.py
  tests/production/test_performance.py
  tests/production/test_security_hardening.py
  tests/security/test_security_features.py
  tests/storage/test_storage_backends.py
  tests/test_circuit_breaker.py
  tests/test_lightrag_core.py
  tests/test_ollama_helpers.py
  tests/test_operate.py
  tests/test_operate_simple.py
  tests/test_shared_config.py
  tests/test_utils_core.py
  tests/test_utils_simple.py
Due: check-secrets

feat: Implement Ollama Batching Orchestrator for 50%+ performance improvement
  docs/OLLAMA_BATCHING_ORCHESTRATOR.md
  examples/ollama_batching_demo.py
  lightrag/config/__init__.py
  lightrag/config/batch_config.py
  lightrag/orchestrator/__init__.py
  lightrag/orchestrator/batch_orchestrator.py
  lightrag/orchestrator/batch_processor.py
  lightrag/orchestrator/embedding_cache.py
  lightrag/orchestrator/error_handler.py
  lightrag/orchestrator/request_queue.py
  lightrag/pipeline/__init__.py
  lightrag/pipeline/batch_integration.py
  lightrag/pipeline/enhanced_embedding.py
  lightrag/xai_optimizer.py
  lightrag_mcp/client/direct_client.py
  scripts/validate_xai_config.py
  tests/conftest.py
  tests/core/test_batching_components.py
  tests/integration/test_batching_integration.py
  tests/test_ollama_batching_orchestrator.py
Due: check-secrets

feat: Comprehensive PostgreSQL security hardening and UID standardization
  docker-compose.enhanced.yml
  docker-compose.production.yml
  docs/CHROMADB_ARCHITECTURE_EVALUATION.md
  docs/POSTGRESQL_IMAGE_SECURITY_ADVISORY.md
  docs/POSTGRESQL_SECURITY_FIXES_IMPLEMENTATION.md
  docs/POSTGRESQL_SECURITY_REVIEW.md
  docs/POSTGRESQL_VS_CHROMADB_COMPARISON.md
  docs/UID_MIGRATION_SUMMARY.md
  docs/production/PRODUCTION_IMPLEMENTATION_GUIDE.md
  docs/security/SECURITY_HARDENING.md
  postgres/config/postgresql-ssl.conf
  postgres/init/00-remove-default-users.sh
  postgres/init/01-create-custom-db.sh
  postgres/init/02-password-security.sh
  postgres/init/03-ssl-setup.sh
  postgres/ssl/generate-ssl-certs.sh
  production.env
Due: check-secrets

feat: Comprehensive xAI integration testing and critical issues analysis
  .gitignore
  docker-compose.enhanced.yml
  docker-compose.production.yml
  docs/CRITICAL_ISSUES_REPORT.md
  env.example
  rag_storage_test/kv_store_doc_status.json
  test_grok_3_mini.py
  test_lightrag_direct.py
  test_lightrag_simple.py
Due: check-secrets

feat: Systematic test fixing phase - achieve 130 passing tests with 10.97% coverage
  docs/TEST_COVERAGE_ANALYSIS_REPORT.md
  docs/TEST_COVERAGE_REMEDIATION_GUIDE.md
  lightrag/kg/nano_vector_db_impl.py
  lightrag/lightrag.py
  lightrag/utils.py
  tests/conftest.py
  tests/core/test_vector_operations.py
  tests/integration/test_api_endpoints.py
  tests/storage/test_storage_backends.py
  tests/test_utils_core.py
  tests/test_utils_simple.py
Due: check-secrets
